.f-oh {
    overflow: hidden;
    zoom: 1;
    clear: both;
}

.f-oh a {
    margin-right: 30px;
    color: #565755;
}

.f-oh a:hover {
    text-decoration: underline;
    color: #6bc30d;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16, h6 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-24 {
    font-size: 24px;
}

.fs-32 {
    font-size: 32px;
}

.f-fr {
    float: right;
}

.fc-blue {
    color: #2ea7e0;
}

.fc-black {
    color: #383937
}

.fc-grey {
    color: #787977;
}

.fc-red {
    color: #ff4351;
}

.f-fwb {
    font-weight: bold;
}

.f-fwn {
    font-weight: normal;
}

.f-fl {
    float: left;
}

.f-vam {
    vertical-align: middle;
}

/*.f-ff-icon{
    font-family:"FontAwesome";
    font-style:normal;
    text-rendering:auto;
}*/
.f-fr {
    float: right;
}

.mt05 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #333333;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.ml05 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.mr05 {
    margin-right: 5px;
}

.f-noneselect {
    -webkit-user-select: none;
    user-select: none;
}

.fc-link {
    color: #3e8bc7 !important;
}

.f-cb, .f-cb:after {
    display: block;
    content: " ";
    height: 0;
    visibility: hidden;
    clear: both;
}

.img-light {
    position: relative;
}

.img-light:after {
    content: "";
    height: 100%;
    width: 100px;
    -webkit-transform: skewX(-25deg) translateZ(0);
    transform: skewX(-25deg) translateZ(0);
    background-image: linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .3) 50%, hsla(0, 0%, 100%, 0));
    position: absolute;
    left: -160%;
    top: 0;
    z-index: 2;
}

.img-light:hover:after {
    transition: left 1s ease-in-out;
    left: 160%;
}

.grid-page {
    font-size: 0;
}

.grid-page a[href]:hover, .grid-page a.p-current {
    color: #fff;
    background-color: #787977;
    text-decoration: none;
}

.grid-page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    background-color: #fff;
    margin: 0 3px;
    transition: all .3s ease-out;
    cursor: default;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .06);
    color: #787977;
}

.grid-page a.p-current {
    background-color: #6bc30d;
    border-radius: 3px;
}

.grid-page a[href] {
    cursor: pointer;
}

.grid-page a.more {
    background-color: transparent;
    color: #787977;
    cursor: default;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
}

.checkbox-check {
}

.checkbox-label {
    display: inline-block;
    width: 46px;
    height: 26px;
    background-color: #f1f2f0;
    border-radius: 26px;
    vertical-align: middle;
    border: 1px solid #e8e9e7;
    position: relative;
    font-size: 0;
    cursor: pointer;
    transition: all .3s ease;
}

.checkbox-label:after {
    content: '';
    display: inline-block;
    width: 26px;
    height: 26px;
    border: 1px solid #e8e9e7;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    top: -1px;
    left: 0;
    transition: all .3s ease;
}

.checkbox-check:checked ~ .checkbox-label {
    background-color: #6bc30d;
    border-color: #6bc30d;
}

.checkbox-check:checked ~ .checkbox-label:after {
    transform: translate3d(20px, 0, 0);
    border-color: #6bc30d;
}

.u-label {
    display: inline-block;
    border: 1px solid #e8e9e7;
    padding: 5px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    transition: background-color .3s;
}

.u-label.input {
    padding: 0 5px 0 30px;
    min-width: 140px;
    background-color: #fff;
}

.u-label.button {
    border: none;
    padding: 0;
}

.u-btn-sub {
    border: none;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 6px 0;
    text-align: center;
    width: 90px;
    background-color: #70ca10;
    color: #fff;
    -webkit-transition: all .3s;
    transition: all .3s;
    box-sizing: content-box;
    text-decoration: none !important;
}

